<div class="answer"> 
	<% fields_for "question[answer_attributes][]", answer do |answer_form| %>
	<p>
		Answer: <%= answer_form.text_field :value %>
		<%= link_to_function image_tag("trash.png", :border => 0, :width => 16, :height => 16), "$(this).up('.answer').remove()" %>
	</p>
	<% end %>
</div>